/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

html,
body {
    background-color: #7F7378;
}

h1 {
    font-size: 6.854rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Libre Baskerville', 'Times New Roman', 'Georgia', serif;
    padding: 1rem 2rem;
}

h2 {
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Libre Baskerville', 'Times New Roman', 'Georgia', serif;
    padding: 1rem 2rem;
}

nav li {
    font-size: 2.618rem;
}

p {
    font-size: 1.618rem;
    padding: 1rem 2rem;
}

.wrapper {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
    background-color: #FFE6F0;
    color: #7F5E6B;
}

header {
    border-bottom: 0.8rem solid #7F7378;
    background-color: #FF99C1;
    color: #FFE6F0;
}


/*******************change fonts, colors,etc in css above  ***********************/


/*******************heriazontal menu***********************/

.menu-h {
    width: 100%;
}

.menu-h li {
    /* style the list items to remove the bullets 
        and line up horizontally
        and take up 20% of the width of the ul */
    list-style-type: none;
    float: left;
    width: 20%;
    /*        optional*/
    text-align: center;
    line-height: 1.3;
    /*        border-left: 5px solid transparent;*/
    border-bottom: 1px solid #333;
}


/*
.menu-h li:nth-child(5){
    border-right: 1px solid #333;
}
*/

.menu-h a,
.menu-h a:link,
.menu-h a:visited {
    /* style the anchors to fill the entire width of the li 
            make sure there is padding around your text */
    display: block;
    /**********            optional*********/
    text-decoration: none;
    cursor: pointer;
    color: #FF99C1;
}

.menu-h a:hover,
.menu-h a:active {
    background-color: #FF99C1;
    color: #FFE6F0;
    font-weight: bold;
    border-left: 2px dashed #7F7378;
    border-right: 2px dashed #7F7378;
}


/*******************vertical menu***********************/

.menu-v {
    width: 20%;
    float: left;
}

.menu-v li {
    /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */
    width: 100%;
    list-style: none;
    /*        optional*/
    text-align: center;
    line-height: 1.3;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
}


/*
.menu-v li:first-child {
   border-top: 1px solid #333; 
}
*/

.menu-v a,
.menu-v a:link,
.menu-v a:visited {
    /* style the anchors to fill the entire width of the li */
    display: block;
    /**********            optional*********/
    text-decoration: none;
    cursor: pointer;
    color: #7F5E6B;
}

.menu-v a:hover,
.menu-v a:active {
    background-color: #7F7378;
    color: white;
    text-decoration: overline;
    text-decoration-color: white;
    font-variant-caps: all-petite-caps;
}

main {
    width: 80%;
    float: right;
}

footer {
    clear: both;
}
